.bash_history
.viminfo
.python_history
.puppetlabs/
.local/
.pki/
.lesshst
build/
.bundle/
.cache/
.vim_mru_files
.vim_runtime/temp_dirs/
.vim_runtime/sources_non_forked/
.Xauthority
tmux_buffer.txt
tmp
tmp_cloning_bitbucket/
.ssh/id_ed25519*
.vscode
